body{
    background: url("../img/circles-light.png");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: Play, sans-serif, monospace;
}
.container{
    width: 95%;
    margin: auto;
}
h1{
    font-size: 2.7rem;
    color: #2d3c49;
    margin: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}
h2{
    color: #02b3e4;
    font-size: 2rem;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    color: #2d3c49;
    font-size: 1.3rem;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h4{
    color: #02b3e4;
    font-size: 1.1rem;
    margin: 0px;
}
/*
    *
    * First Header section
    *
*/
.first_header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoimg{
    order: 1;
    width: 30%;
    text-align: center;
}
.udlogo{
    width: 140px;
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
}
.TitleName{
    width: 70%;     
    order: 2;  
    text-align: center;       
}
.TitleName h1{
    margin: auto;
    font-size: 4rem;
    padding-top: 10px;
    color: #2d3c49;
    text-transform: uppercase;
}
.TitleName h4{
    font-size: 1.5rem;
    margin: 0px;
    font-weight: 200;
    color: #02b3e4;
}
hr{
    width: 75%;
    margin: 3px auto;
    border: 1px solid #7d97ad;
}
/*
    *
    * Second Header section (nav-bar)
    *
*/
.nav{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #2d3c49;
}
.nav__list{
    width: 100%;
    padding: 0px;
    margin: 0px;

}
.nav ul{
    list-style: none;
}
.nav__item{
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
    color: #fff;
}
.nav__item a{
    text-decoration: none;
    color: #fff;
}
.nav__item  a:hover{
    font-size: 16px;
    color: #02b3e4;
}
/*
    *
    * Banner section
    *
*/
section{
    width: 100%;
}
.banner {
    background-image: url("../img/Banner.jpg");
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
}
.banner_title{
    text-align: center;
}
.banner_title h1{
    color: #2d3c49;
}
/*
    *
    * Content section with boxes css
    *
*/
.containercontent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.box{
    display: block;
    width: 32%;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 11px 15px -11px rgba(0,0,0,0.75);
    box-sizing: border-box;
    padding: 5px;
    margin: 3px;
}
.box a{
    display: block;
    text-decoration: none;
    color:#fff;
    background-color: #2d3c49;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    width: 80px;
    margin: auto;
    padding: 5px;
}
.box a:hover{
    color: #02b3e4;
}
figure img{
    width: 95%;
    height: 50%;
    border-radius: 5px;
}
figcaption{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/*
    *
    * About Me section css
    *
*/
.summary p{
    text-align: justify;
}
.about_me{
    box-shadow: 0px 11px 15px -11px rgba(0,0,0,0.75);
    background-color: #fff;
    border-radius: 3px;
    margin: auto;
    font-size: 16px;
    padding: 10px;
}
.about_me h3{
    text-align: center;
}
.about_me p{
    text-align: center;
}
.brief{
    background-color: rgba(129, 175, 243, 0.2);
    padding: 10px;
    border-radius: 5px;
}
.brief p{
    text-align: justify;
}
/*
    *
    * Footer first section 
    *
*/
footer{
    background: #202021;
    color:#fff;
    width: 100%;
    margin-top: 10px;
}
.first_footer{
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    margin: auto;
}
.form_detail{
    width: 70%;
    justify-content: center;
    order: 1;
    display: block;
    text-align: center;
}
.social_media{
    width: 30%;
    order:2;
    margin: auto;
    text-align: center;
}
.complain input, textarea, label{
    display: block;
    margin:10px auto;
    padding:5px;
    border-radius: 5px;
}
textarea{
    margin: auto !important;
}
.complain button{
    background: #02b3e4;
    border: 0;
    height: 40px;
    border-radius: 3px;
    color:#fff;
    margin-top: 10px;
}
footer  a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color:#4267B2;
}
footer i{
    font-size: 3rem;
    padding: 10px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
    width: 50%;
    margin: auto;
}
/*
    *
    * Footer copywrite section 
    *
*/
.copyright{
    text-align: center;
    background: #000;
    height: 50px;
    width: 100%;
    padding-top: 2px;
}
